body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

/* Tombol admin (40% transparan & tetap di pojok) */
.admin-btn {
  opacity: 0.4;
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 14px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  margin-top: 10px;
}

table, td, th {
  border: 1px solid black;
  padding: 6px 10px;
}
